@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Inika:wght@400;700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Libre Bodoni", serif;
}

body {
  overflow-x: hidden; 
  height: 100vh;
    box-sizing: border-box; 

}

.container {
  min-height: 100vh;
  background: #F0F8FF;
}

::-webkit-scrollbar {
  display: none; /* Hide the vertical scrollbar */
}


